In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import clear_output

# Dropping irrelevant data

In [2]:
batch_size = 1000000
n_iter = 0
slim_ratings_df = pd.DataFrame()
with open('../data/bgg_RatingItem.jl') as f:
    batch = pd.read_json(f, lines=True, nrows=batch_size)
    while(not batch.empty):
        clear_output()
        print(n_iter)
        slim_ratings_df = slim_ratings_df.append(batch[['bgg_id', 'bgg_user_name', 'bgg_user_rating', 'bgg_user_owned']])
        batch = pd.read_json(f, lines=True, nrows=batch_size)
        n_iter += 1

41

In [5]:
indices = np.any((slim_ratings_df['bgg_user_rating'].notna(), slim_ratings_df['bgg_user_owned']==1), axis=0)

In [6]:
slim_ratings_df = slim_ratings_df.loc[indices]

In [7]:
slim_ratings_df.to_csv('../data/ratings_all.csv.gz', compression='gzip', index=False)

# Cleaning data

In [8]:
ratings_df = pd.read_csv('../data/ratings_all.csv.gz', compression='gzip')

In [9]:
ratings_df

          bgg_id   bgg_user_name  bgg_user_rating  bgg_user_owned
0             13        beastvol              8.0             1.0
1            118        beastvol              7.0             1.0
2            278        beastvol              7.0             1.0
3            823        beastvol              6.0             1.0
4           3076        beastvol              9.0             1.0
...          ...             ...              ...             ...
29334075    2399  æleksandr þræð              7.0             1.0
29334076    2932  æleksandr þræð              6.0             1.0
29334077    5451  æleksandr þræð              8.0             1.0
29334078    5554  æleksandr þræð              7.0             0.0
29334079    9962  æleksandr þræð              8.0             1.0

[29334080 rows x 4 columns]

In [10]:
cleaned_df = []
for user, game_df in ratings_df.groupby(by='bgg_id'):
    if game_df.shape[0] < 1000:
        continue
    cleaned_df.append(game_df[:])
ratings_df = pd.concat(cleaned_df)

In [12]:
ratings_df.shape

(23783521, 4)

In [13]:
cleaned_df = []
for user, user_df in ratings_df.groupby(by='bgg_user_name'):
    if user_df.shape[0] < 10:
        continue
    cleaned_df.append(user_df[:])
ratings_df = pd.concat(cleaned_df)

In [14]:
ratings_df.shape

(23415250, 4)

In [15]:
ratings_df.to_csv('../data/ratings.csv.gz', compression='gzip', index=False)

In [16]:
ratings_df['bgg_id'].value_counts().shape

(4433,)